<!DOCTYPE html>
<html>
    <head>
        <title>Controle Escolar</title>
    </head>
    <body>
        <header>
            <partial name="./_MainMenuPartialPage.cshtml"/>
        </header>
        @RenderBody()
        <footer>2023 - SchoolPlanner</footer>
    </body>
</html>