@page
@model ProjetoFinal.Pages.Index

<link rel="stylesheet" href="~/css/style.css">

<h1>SchoolPlanner</h1>

<div>
    <p>Seja bem-vindo ao SchoolPlanner!</p>
    <figure class="container-img">
        <img src="~/images/professora.jpg" alt="professora" width="250" height="250" class="center">
    </figure>
</div>