@page
@model ProjetoFinal.Pages.Notas
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Notas";
}

<h1>@ViewData["Title"]</h1>

<div>
    <partial name="./Shared/_MenuPartialPage.cshtml"/>
</div>